html, body {
  margin: 0;
  padding: 0;
}

.previousChannelButton {
  position: fixed;
  top:50%;
  left: 0;
  z-index: 1000;
  background-color: red;
  padding: 1rem;
  margin: 2rem;
}

.nextChannelButton {
  position: fixed;
  top:50%;
  right: 0;
  z-index: 1000;
  background-color: red;
  padding: 1rem;
  margin: 2rem;
}